.card-white{
  display: flex;
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 5px 10px 30px rgba(0,0,0,.4);
  padding: 30px;
  text-align: center;
  border: solid;
  border-color:  #444140;
  border-radius: 4px;
  border-width: thin;
  align-items: flex-start;
  flex-wrap:wrap;
}

.card-white h1{
  flex-grow: 1;
  margin-top: 0px;
}

.card-white p{
  margin-top: 0px;
}

.img-card {
  width:400px;
  margin-right: 30px;
}

.img-card img{
  width: 100%;
  border-radius: 4px;
}

.img-card h2 {
    color: #F95738;
    margin: 0px;
    text-align: left;
}
.img-card p {
    margin: 0px;
    text-align: left;
    font-weight: lighter;
    font-size: 14px;
}

.text-halfcard{
  flex-basis: 450px;
  flex-grow: 1;
  text-align: left;
  margin-right: 30px;
}

.text-fullcard{
  flex-basis: 100%;
  flex-grow: 1;
  text-align: left;
  margin-right: 30px;
}
